<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Lichtenstein Web Interface</li>
      <li><a href="/status">Server Status</a></li>
      <li><a href="/node">Nodes</a></li>
      <li><a href="/group">Groups</a></li>
      <li><a href="/routine">Routines</a></li>


      <li>
        <a href="#">Tools</a>
        <ul class="menu vertical">
          <li><a href="/tools/routine">Set Routine</a></li>
          <li><a href="/tools/brightness">Set Brightness</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    {{!-- nothing --}}
  </div>
</div>
