<div class="grid-x group-detail">
  <div class="cell small-12">
    <h1>Group Detail: {{group.name}}</h1>

    <ul class="plist">
      <li><span>Start Offset: </span> {{group.start}}</li>
      <li><span>End Offset: </span> {{group.end}}</li>
      <li><span>Enabled: </span> {{group.enabled}}</li>
    </ul>
  </div>
</div>
